<!DOCTYPE html>
<html lang="en" ng-app="myNinjaApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-size=1">
	<title>Ninja</title>
	<link rel="stylesheet" href='styles.css'>
	<script src="https://code.angularjs.org/1.6.3/angular.min.js"></script>
	<script src="./app.js"></script>

</head>
<body>


	<div ng-controller='NinjaController'>
		<div class='content'>
			<button ng-click='order="name"' type="button" name="button">Order by Name</button>
			<button ng-click='order="belt"' type="button" name="button">Order by Belt</button>
			<input type="text" ng-model='search' name="" value="">
				<ul>

					<li ng-repeat='ninja in ninjas|filter:search|orderBy:order' ng-show='{{ninja.available}}'>
						<img ng-src="{{ninja.thumb}}" width="50px" alt="">
						<h3>{{ninja.name}} {{ninja.rate|currency}}</h3>
						<span class="remove" ng-click='remove(ninja)'>x </span>
						<span class="belt" style="background:{{ninja.belt}}"> {{ninja.belt}} Belt </span>
					</li>
				</ul>

				<form ng-submit='addNinja()'>
					<input type="text" placeholder="name" ng-model='newNinja.name'>
					<input type="text" placeholder="belt" ng-model='newNinja.belt'>
					<input type="text" placeholder="rate" ng-model='newNinja.rate'>
					<input type="submit" value='Submit'>
				</form>

				
		</div>
	</div>

</body>
</html>
